extends ../layout
block title
    title #{title}
block style
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/styles.css')
    link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
    style.
        * 
        {
            font-family: Microsoft JhengHei;
        }
        body {
            background: #CB769E;
        }
        #courseContent{
            
            margin: 0 auto;
            
        }

block script
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
    
    script.
        (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'Messenger'));
        
        function jp_free_trial_Submit() {
                MessengerExtensions.requestCloseBrowser(
                    function success() {
                        var date = document.getElementById("jp_free_trial_type").value;
                    },
                    function error(err) {
                    }
                );
        }
        window.extAsyncInit = function() {
            MessengerExtensions.getContext('327862871063543', 
                function success(thread_context){
                    document.getElementById('fb_psid').value = thread_context.psid;
                },
                function error(err){
                }
            );
        };
        /*function displayContent(that) {
            //console.log("hello");
            var jp_trial= JSON.parse(that.value);
            //console.log(`TEST: ${jp_trial.course_type}`);
            //console.log(`type: ${typeof jp_trial}`);
            //var title = `課程內容: ${jp_trial.course_type}`
            var content = `課程內容: ${jp_trial.course_type}<br/>適用對象: ${jp_trial.level}<br/>說明: ${jp_trial.content}`
            //console.log(content)
            //document.getElementById('des').innerHTML = title;
            document.getElementById('courseContent').innerHTML = content;
        }*/
        function typeCheck(that) {
            if (that.value == "零程度") {
                document.getElementById("newbie").style.display = "flex";
                document.getElementById("learned").style.display = "none";
            }else if (that.value == "有程度") {
                document.getElementById("learned").style.display = "flex";
                document.getElementById("newbie").style.display = "none";
            }
        }
block content
    .container
        form(method="POST" action="/trial/jp"  onsubmit="jp_free_trial_Submit()")
            input(name="fb_psid" type="hidden" id="fb_psid" value="")
            input(name="lang_type" type="hidden" id="lang_type" value="日語")
            ul.flex-outer
                li
                    label 請問您的日語程度是?
                    select(name='level' required='required' onchange="typeCheck(this);")
                        option(value='' hidden)
                        option(value='零程度') 初學者(零程度)
                        option(value='有程度') 已有日語程度

                li#newbie(style='display: none;')
                    label 請問您想試聽什麼時間的日語發音課程?
                    select(name='course_time')
                        option(value='' hidden)
                        each jp_trial in jp_trials
                            option( title=`課程內容 :${jp_trial.course_type}\n適用對象 :${jp_trial.level}\n${jp_trial.content}`
                                value=`${jp_trial.course_date.getUTCFullYear()}-${jp_trial.course_date.getUTCMonth()+1}-${jp_trial.course_date.getUTCDate()} (${jp_trial.dayOfWeek}) ${jp_trial.begin_time}-${jp_trial.end_time}`
                                )=    `${jp_trial.course_date.getUTCFullYear()}-${jp_trial.course_date.getUTCMonth()+1}-${jp_trial.course_date.getUTCDate()} (${jp_trial.dayOfWeek}) ${jp_trial.begin_time}-${jp_trial.end_time}`
                li#learned(style='display: none;')
                    label 請輸入曾使用的教材及進度(如第幾課)?
                    textarea(name='level_content', placeholder='使用的教材及學到第幾課' ,autocomplete="off")
                    //div#courseContent
                li
                    label 請問您的姓名是(真實姓名,以利課程進行)？
                    input( name="name" type='text', placeholder='請輸入姓名', maxlength='8', required='required')
                li
                    label 請問您的電話是？
                    input( name="phone" type='number', placeholder='請輸入電話', maxlength='12', required='required')
                li
                    label 請問您的Line是？
                    input( name="lineID" type='text', placeholder='請輸入Line ID', maxlength='20', required='required')
                li
                    input#submit(type='submit', value='送出')