extends ../nav_layout
block title
    title #{title}
block style
    link(rel='stylesheet', href='/css/nav.css')
    style.
        * 
        {
            font-family: Microsoft JhengHei;
        }
        body {
            background-image: url("../assets/img/backgrounds/1.jpg");
        }
        table 
        { 
            width: 85%; 
            margin:50px auto;
            border-spacing: 0px;
        }

        th 
        { 
            background: #3498db; 
            color: white; 
            font-weight: bold; 
        }
        td{
            background: grey;
        }
        td, th 
        { 
            position: static;
            padding: 8px; 
            border: 1px solid #ccc; 
            text-align: center; 
            font-size: 18px;
            background-clip: padding-box;
            
        }

        .labels tr td {
            background-color: #2cc16a;
            font-weight: bold;
            color: #fff;
        }

        .label tr td label {
            display: block;
        }

        [data-toggle="toggle"] {
            display: none;
        }
        h1{
            margin:50px auto;
            color: #fff;
        }
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
block content
    h1(align="center") #{title}
    form#delFrom(action='/trial/report/delete', method='post')
        table#mytable
            thead
                tr  
                    th
                        input(type='checkbox', onclick='toggle(this)')
                    th FB ID
                    th 報名課程
                    th 程度(日韓)/期望課程(英)
                    th 程度簡述
                    th 姓名
                    th 電話 
                    th Line ID
                    th 建立時間
            tbody
                tbody.labels
                    tr
                        td(colspan='9')
                            label.title(for='jp') 日語
                            input#jp(type='checkbox', name='jp', data-toggle='toggle')
                tbody.hideContent
                    each jp_report in jp_reports
                        tr#allCourses
                            td
                                input(type='checkbox', name='trial_report', value=`${jp_report._id} 日語`)
                            td=jp_report.fb_psid
                            //td=jp_report.lang_type
                            td=jp_report.course_time
                            td=jp_report.level
                            td=jp_report.level_content
                            td=jp_report.name
                            td=jp_report.phone
                            td=jp_report.lineID
                            td=`${jp_report.createdAt.getFullYear()}-${jp_report.createdAt.getMonth()+1}-${jp_report.createdAt.getDate()} ${('0'+jp_report.createdAt.getHours()).substr(-2)}:${('0'+jp_report.createdAt.getMinutes()).substr(-2)}`
                tbody.labels
                    tr
                        td(colspan='9')
                            label(for='kr') 韓語
                            input#kr(type='checkbox', name='kr', data-toggle='toggle')
                tbody.hideContent
                    each kr_report in kr_reports
                        tr#allCourses
                            td
                                input(type='checkbox', name='trial_report', value=`${kr_report._id} 韓語`)
                            td=kr_report.fb_psid
                            //td=kr_report.lang_type
                            td=kr_report.course_time
                            td=kr_report.level
                            td=kr_report.level_content
                            td=kr_report.name
                            td=kr_report.phone
                            td=kr_report.lineID  
                            td=`${kr_report.createdAt.getFullYear()}-${kr_report.createdAt.getMonth()+1}-${kr_report.createdAt.getDate()} ${('0'+kr_report.createdAt.getHours()).substr(-2)}:${('0'+kr_report.createdAt.getMinutes()).substr(-2)}`       
                tbody.labels
                    tr
                        td(colspan='9')
                            label(for='eng') 英語課程諮詢總表(試聽+正式)
                            input#eng(type='checkbox', name='eng', data-toggle='toggle')
                tbody.hideContent
                    each eng_report in eng_reports
                        tr#allCourses
                            td
                                input(type='checkbox', name='trial_report', value=`${eng_report._id} 英語`)
                            td=eng_report.fb_psid
                            //td=eng_report.lang_type
                            td=eng_report.course_time
                            td=eng_report.level
                            td=eng_report.level_content
                            td=eng_report.name
                            td=eng_report.phone
                            td=eng_report.lineID   
                            td=`${eng_report.createdAt.getFullYear()}-${eng_report.createdAt.getMonth()+1}-${eng_report.createdAt.getDate()} ${('0'+eng_report.createdAt.getHours()).substr(-2)}:${('0'+eng_report.createdAt.getMinutes()).substr(-2)}`   
                    td(colspan='50%')  
                        input.center(type='button', onclick='myFormClear()', value='清除勾選')
                        input.center(type='submit', value='刪除')

block script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.29.5/js/jquery.tablesorter.js")
    script.
        $(document).ready(function() {
            $("table").tablesorter();
            $('[data-toggle="toggle"]').change(function(){
                $(this).parents().next('.hideContent').toggle();
            });
        });
        function myFormClear() {
            document.getElementById("delFrom").reset();
        }
        function toggle(source) {
            checkboxes = document.getElementsByName('trial_report');
            for(var i=0, n=checkboxes.length;i<n;i++) {
                checkboxes[i].checked = source.checked;
            }
        }
        



